<!DOCTYPE html>

<head>
    <title>Contact Us Form </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#banner">HOME</a></li>
            <li><a href="#training_sessions">TRAINING SESSIONS</a></li>
            <li><a href="#courses">COURSES</a></li>
            <li><a href="#testimonial.reviews">TESTIMONIALS</a></li>
            <li><a href="#footer">MEET US</a></li>
            <li><a href="#lmscontactus">CONTACT US</a></li>
        </ul>
    </nav>


    <div class="contact-us-form">
        <h2>Below is a contact form for your reviews and testimonials about the Online Learning Management System</h2>
        <form action="">
        <div class="contact-input">
            <label for="fname">First Name</label>
            <input type="text" name="" id="fname" placeholder="Enter your first name">
        </div>
        <div class="contact-input">
            <label for="fname">Last Name</label>
            <input type="text" name="" id="lname" placeholder="Enter your last name">
        </div>
        <div class="contact-input">
            <label for="bname">Business Name</label>
            <input type="text" name="" id="bname" placeholder="Enter your businesss name">
        </div>
        <div class="contact-input">
            <label for="fname">Phone Number</label>
            <input type="tel" name="" id="lname" placeholder="Enter your phone number">
        </div>
        <div class="select-reasons">
            <p>Select Reasons</p>
            <select size="1" name="" id="" style="display: none;">
                <option value="" disabled="" selected="" hidden="">Select Industry</option>
                <option value="">Research &amp; Media</option>
                <option value="">Healthcare</option>
                <option value="">Telcom/ Internet Service Providers/ IT Companies</option>
                <option value="">Travel &amp; Tourism</option>
                <option value="">Retail &amp; Ecommerce</option>
                <option value="">Public Sector/ Government/ Ministries</option>
                <option value="">BFSI (Banking, Financial Services &amp; Insurance)</option>
                <option value="">Non-Profit/ Non Governmental Organizations</option>
                <option value="">Other</option>
            </select><div class="nice-select" tabindex="0"><span class="current">Select Industry</span><ul class="list"><li data-value="" class="option selected disabled">Select Industry</li><li data-value="" class="option">Research &amp; Media</li><li data-value="" class="option">Healthcare</li><li data-value="" class="option">Telcom/ Internet Service Providers/ IT Companies</li><li data-value="" class="option">Travel &amp; Tourism</li><li data-value="" class="option">Retail &amp; Ecommerce</li><li data-value="" class="option">Public Sector/ Government/ Ministries</li><li data-value="" class="option">BFSI (Banking, Financial Services &amp; Insurance)</li><li data-value="" class="option">Non-Profit/ Non Governmental Organizations</li><li data-value="" class="option">Other</li></ul></div>
        </div>
        <div class="form-msg">
            <p>Message</p>
            <textarea name="message" id="message" cols="30" rows="1" placeholder="Please speficy your needs..."></textarea>
        </div>
        <div class="submit-btn">
            <button type="submit" name="button">Submit</button>
        </div>
        </form>
    <div class="contact-email">
        <p>Email Us</p>
        <a href="mailto:Enquiries@nakama.com">info@nakama-tech.com</a>
    </div>
</div>

</body>

</html>