<!DOCTYPE html>
    <head>
        <title> Nakama Learning Management System </title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins&display=swap" rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    </head>
    <body>
        <section id="banner">
            <img src="images/nakamalogo.jpg" class="logo">
            <div class="banner-text">
                <h1>Nakama Learning Management System </h1>
                <p>Welcome to Nakama Tech LMS!
                    Hello, [User's First Name]!
                    We are thrilled to have you here. Your journey towards enhanced learning and development starts now. Explore a wealth of resources, track your progress, and collaborate with your colleagues to achieve your goals.
                    Here's what's available to you:
                    Upcoming Training Sessions: Stay updated on your scheduled courses and never miss a learning opportunity.
                    Personalized Dashboard: View your learning progress, completed courses, and upcoming assignments.
                    Support and Resources: Access a variety of materials to aid your learning experience, and don't hesitate to reach out for support if needed.
                    Notifications and Announcements: Keep an eye on important updates and messages from your team and management.
                    If you need assistance or have any questions, our support team is here to help.
                    Let’s get started and take your skills to the next level!
                    Happy Learning!
                    The Nakama Tech Team
                </p>
                <div class="banner-btn">
                    <a href="#"><span></span>Find out</a>
                </div>
            </div>
        </section>
        <div id="sideNav">
            <nav>
                <ul>
                    <li><a href="#banner">HOME</a></li>
                    <li><a href="#training_sessions">TRAINING SESSIONS</a></li>
                    <li><a href="#courses">COURSES</a></li>
                    <li><a href="#testimonial.reviews">TESTIMONIALS</a></li>
                    <li><a href="#footer">MEET US</a></li>
                    <li><a href="#lmscontactus">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
        <div id="menuBtn">
            <img src="images/menubutton.png" id="menu">
        </div>

        <!--training_sessions-->

        <section id="training_sessions">
        <div class="title-text">
        <p>TRAINING SESSIONS</p>
        <h1>Here are some of the ongoing training sessions</h1>
        </div>
        <div class="training_sessions-box">
            <div class="training_sessions">
                <h1>Customer Service Solutions</h1>
                <div class="training_sessions-desc">
                   <div class="training_sessions-icon">
                       <i class="fa fa-shield"></i>
                   </div> 
                   <div class="training_sessions-text">
                       <p>Enhancing communication, managing customer interactions, resolving issues, and analyzing service performance to deliver exceptional customer experiences.</p>
                   </div>
                </div>
                <h1>Chatbot and AI Intergretion</h1>
                <div class="training_sessions-desc">
                   <div class="training_sessions-icon">
                       <i class="fa fa-check-square-o"></i>
                   </div> 
                   <div class="training_sessions-text">
                       <p>Exploring AI and machine learning foundations, chatbot development, NLP, and ethical AI integration for enhanced customer service experiences.</p>
                   </div>
                </div>
                <h1>Workflow Automation</h1>
                <div class="training_sessions-desc">
                   <div class="training_sessions-icon">
                       <i class="fa fa-inr"></i>
                   </div> 
                   <div class="training_sessions-text">
                       <p>Mastering workflow automation tools, designing efficient processes, and measuring performance to streamline business operations and boost productivity.</p>
                   </div>
                </div>
            </div>
            <div class="training_sessions-img">
                <img src="images/Training_Sessions.jpg">
            </div>
        </div>

        </section>

        <!--Courses-->

        <section id="courses">
            <div class="title-text">
            <p>COURSES</p>
            <h1>Here are The Available Courses</h1>
            </div>
            <div class="courses-box">
                <div class="single-course">
                    <img src="images/Chatbot and AI Intergretion.jpg">
                    <div class="overlay"></div>
                    <div class="courses-desc">
                        <h3>Chatbot and AI Intergretion</h3>
                        <hr>
                        <p>
                            Fundamentals of AI and Machine Learning<br>
                            Building and Deploying Chatbots<br>
                            Natural Language Processing (NLP)<br>
                            AI in Customer Service<br>
                            Ethical AI Practices<br>
                        </p>
                    </div>
                </div>
                <div class="single-course">
                    <img src="images/Workflow Automation.jpg">
                    <div class="overlay"></div>
                    <div class="courses-desc">
                        <h3>Workflow Automation</h3>
                        <hr>
                        <p>
                            Basics of Workflow Automation<br>
                            Tools for Workflow Automation<br>
                            Designing Efficient Workflows<br>
                            Automating Business Processes<br>
                            Measuring Workflow Performance<br>
                        </p>
                    </div>
                </div>
                <div class="single-course">
                    <img src="images/Digitization Services.jpg">
                    <div class="overlay"></div>
                    <div class="courses-desc">
                        <h3>Digitization Services</h3>
                        <hr>
                        <p>
                            Introduction to Digitization<br>
                            Scanning and Archiving Techniques<br>
                            Digital Asset Management<br>
                            Data Preservation Strategies<br>
                            Digitization Project Management<br>
                        </p>
                    </div>
                </div>
                <div class="single-course">
                    <img src="images/Fintech Solutions.jpg">
                    <div class="overlay"></div>
                    <div class="courses-desc">
                        <h3>Fintech Solutions</h3>
                        <hr>
                        <p>
                            Introduction to Fintech<br>
                            Digital Payments and Cryptocurrencies<br>
                            Regulatory Compliance in Fintech<br>
                            Fintech Innovations and Trends<br>
                            Risk Management in Fintech<br>
                        </p>
                    </div>
                </div>
            </div>


        </section>

<!--Testimonial/Reviews-->

<section id="testimonial.reviews">
    <div class="title-text">
        <p>TESTIMONIALS & REVIEWS</p>
        <h1>Testimonies and Reviews From Other People</h1>
        </div>
        <div class="testimonial.reviews-row">
            <div class="testimonial.reviews-col">
                <div class="user">
                    <img src="images/pexels-andrew-personal-training-697509.jpg">
                    <div class="user-info">
                        <h4>ANDREW LEE <i class="fa fa-twitter"></i></h4>
                        <small>@andrewlee</small>
                    </div>
                </div>
                <p>Fintech Solutions, Chatbot AI, and Workflow Automation transformed our operations, </p>
            </div>
            <div class="testimonial.reviews-col">
                <div class="user">
                    <img src="images/pexels-daniel-xavier-1239288.jpg">
                    <div class="user-info">
                        <h4>DANIELA XAVIER <i class="fa fa-twitter"></i></h4>
                        <small>@danielaxavier</small>
                    </div>
                </div>
                <p>Seamless integration of Fintech, Chatbots, and Automation streamlined our business, enhancing service, workflows, and overall performance.</p>
            </div>
            <div class="testimonial.reviews-col">
                <div class="user">
                    <img src="images/pexels-creation-hill-1681010.jpg">
                    <div class="user-info">
                        <h4>CHRIS HILL <i class="fa fa-twitter"></i></h4>
                        <small>@chrishill</small>
                    </div>
                </div>
                <p>Cutting-edge Fintech, AI, and Automation solutions propelled our organization forward, driving innovation and competitive advantage.</p>
            </div>
        </div>


</section>

<!--footer-->

<section id="footer">
    <img src="images/pexels-ilya-shakir-2440471.jpg" class="footer-img">
    <div class="title-text">
        <p>CONTACT</p>
        <h1>Visit Nakama Desk Today</h1>
        </div>
        <div class="footer-row">
        <div class="footer-left">
            <h1>Opening Hours</h1>
            <p><i class="fa fa-clock-o"></i>Monday to Friday - 9am to 5pm</p>
            <p><i class="fa fa-clock-o"></i>Saturday and Sunday - 8am to 12pm</p>
        </div>
        <div class="footer-right">
            <h1>Get In Touch</h1>
            <p>Embankment Plaza, 8th Floor, Longonot Road, Upperhill. Nairobi<i class="fa fa-map-marker"></i></p>
            <p>info@nakama-tech.com<i class="fa fa-plane"></i></p>
            <p>+254 111 000999<i class="fa fa-phone"></i></p>
        </div>
    </div>
        


</section>

<!--registration-->

<section id="registration">
   <div class="registration-form">
      <h1>Registration Form</h1>
        <form action="book.php" method="post" >
          <p>Full Name:</p>
          <input type="text" name="fullname" id="fullname" placeholder="Full name">
          <p>Email:</p>
          <input type="email" name="email" id="email" placeholder="Email">
          <p>Area Code</p>
          <input type="number" name="areacode" id="areacode" placeholder="Area Code">
          <p>Mobile phone</p>
          <input type="tel" name="mobilephone" id="mobilephone" placeholder="Mobile phone">
          <p>Whatsapp Number</p>
          <input type="tel" name="whatsappnumber" id="whatsappnumber" placeholder="Whatsapp number">
          <p>Project type</p>
          <input type="checkbox" id="project1" name="project" value="p1">
          <label for="project1">Bohemian Chic Living Space</label><br>
          <input type="checkbox" id="project2" name="project" value="p2">
          <label for="project2">Kitchen Remodel </label><br>
          <input type="checkbox" id="project3" name="project" value="p3">
          <label for="project3">Modern Office Design</label><br>
          <input type="checkbox" id="project4" name="project" value="p4">
          <label for="project4">Restaurant Design</label>
          <p>Requirement description</p>
          <input type="text" name="requirementdescription" id="requirementdescription" placeholder="Requirement description">
          <input type="submit" name="submit" value="Submit">
        </form>

    </div>
       <div class="social-links">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-youtube-play"></i>
          <p>Follow us on how social media handles</p>
       </div>

</section>

        <script>
            var menuBtn = document.getElementById("menuBtn")
            var sideNav = document.getElementById("sideNav")
            var menu = document.getElementById("menu")

            sideNav.style.right = "-250px";

            menuBtn.onclick = function(){
                if(sideNav.style.right == "-250px"){
                    sideNav.style.right = "0";
                    menu.src = "images/close.png";
                }
                else{
                    sideNav.style.right = "-250px";
                    menu.src = "images/menu.jpg";
                }
            }

            var scroll = new SmoothScroll('a[href*="#"]', {
	speed: 1000,
	speedAsDuration: true
            })

        </script>
    </body>
</html>